:root {
    --main-control-color: #008184;
    --main-control-color-hover: #005c5f;
    --main-flexbox-gap: 16px;
    --secondary-text-color: #87898b;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

canvas {
    border-radius: 5px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    background-color: var(--main-control-color);
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.28px;
    line-height: normal;
    outline: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--main-control-color-hover);
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-text-color);
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

#refresh {
    display: none;
}

#start {
    display: none;
}